.navigation{
  display: flex;
  justify-content: center;
}

nav {
  background: linear-gradient(to bottom, #EFEFEF 50%, #ebebeb 50%);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.8);
  height: 47px;
  ul{
    margin: 0;
    li{
      float: left;
      position: relative;
      a{
        height: 45px;
        color: #9b9b9b;
        &:hover{
          color: #9b9b9b;
          background: linear-gradient(to bottom, #ffffff 50%, #f2f2f2 50%);
        }
        &:active, &:focus{
          background: linear-gradient(to bottom, #02afe7 40%, #12bef7 75%);
          box-shadow: inset 0px 2px 0px 0px rgba(0, 149, 198, 1);
        }
        &:focus{
          color: #fff;
        }
      }
      .evart-submenu{
        background: #f3f3f3;
        position: absolute;
        width: 694px;
        height: 600px;
        border-radius: 10px;
        top: 44px;
        visibility: hidden;
        z-index: 9999;
        .evart-head{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 76px;
          border-bottom: 1px solid #bfbfbf;
          border-radius: 0 0 11px 0;
          .evart-name{
            flex: 9;
            text-align: center;
            color: #929292;
          }
          .evart-ico{
            border-radius: 0 10px 10px 0;
            box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.8);
            border: 1px solid #E0DCDC;
            flex: 1;
            align-self: stretch;
            background: linear-gradient(to bottom, #EFEFEF 50%, #ebebeb 50%);
            display: flex;
            padding: 5px;
            .ico{
              justify-content: center;
              margin: auto;
              width: 31px;
              height: 41px;
              background: url(../img/audio.png);
            }
            &:hover .ico{
              background: url(../img/audio-active.png);
            }
          }
        }
        .evart-body{
          display: flex;
          flex-flow: column wrap;
          max-width: 694px;
          height: 500px;
          position: relative;
          @import "playlist-track";
          .thumb{
            width: 8px !important;
            height: 18px !important;
            left: -2px !important;
          }
          ul{
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1%;
            right: 5%;

          }
          .evart-item{
            display: flex;
            align-items: center;
            width: 95%;
            border-bottom: 1px solid #d5d5d5;
            padding: 25px 0;
            .evart-dwl{
              background: url(../img/dwl.png);
              flex: 0 0 17px;
              height: 15px;
              margin: 5px;
            }
            .evart-play{
              background: url(../img/play-gray.png);
              flex: 0 0 16px;
              height: 16px;
              margin: 5px;
            }
            .evart-name{
              text-align: center;
              color: #585858;
            }
            .evart-info{
              color: #000;
              padding: 5px;
            }
            .evart-datetime{
              color: #5f5f5f;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              padding: 0 3%;
            }
          }
        }
      }
      &:hover > .evart-submenu{
        display:block;
      }
    }
  }

}


.evart-about{
  display: flex;
  padding: 5% 15%;
  flex-flow: column nowrap;
  font-family: 'Roboto-Thin';
  color: #707070;
  font-size: 42px;
  line-height: 45px;
  .evart-title{
    text-transform: capitalize;
  }
  .evart-description{
    color: #00bfff;
    text-transform: uppercase;
  }
  .evart-text{
    padding: 1% 10%;
    font-size: 24px;
    line-height: 30px;
  }
}
.evart-slider{
  .carousel-inner{
    .item{
      height: 100vh;
      img{
        width: 100%;
      }
    }

    .carousel-caption{
      right: 0;
      left: 0;
      font-size: 5em;
      h3{
        font-size: 1em;
        text-transform: capitalize;
      }
      p{
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
  }
  .left-arrow, .right-arrow{
    background: url(../img/slider/arrow.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  .right-arrow{
    transform: rotate(180deg);
  }
  .carousel-control{
    width: 30%;
  }

}




