@font-face {
  font-family: 'Roboto-Thin';
  src: url('fonts/Roboto/Roboto-Thin.eot');
  src: url('fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
  url('fonts/Roboto/Roboto-Thin.woff') format('woff'),
  url('fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
  url('fonts/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg'),
  url('fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
