//div,section{
//    border: 1px dotted black;
//}
header{
    background: url(../img/header_back.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 535px;
    padding-top: 75px;
    @media only screen and (max-width: 976px) {
        padding-top: 0;
        background-size: cover;
    }
}
.evart-radio{
    background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(229,229,229,1) 100%);
    width: 100%;
    height: 403px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(212, 212, 212, 0.65);
    display: flex;
    padding: 0 10px;

    @media only screen and (max-width: 976px) {
        flex-flow: column nowrap;
        height: 500px;
    }
    .evart-dock{
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

    }
  .evart-ico{
    cursor: pointer;
  }
    .evart-panel{
       flex: 7;
        .evart-dots{
            background-image: url(../img/dots.png);
            width: 323px;
            height: 18px;
        }

        .evart-display {
            width: 100%;
            flex: 7;
            position: relative;
            border: 5px solid transparent;
            display: flex;
            flex-flow: column wrap;
            &:before{
                content: '';
                background: linear-gradient(to top, #ffffff 5%, #494949 50%, #ffffff 52%, #d9d9d9 100%);
                position: absolute;
                top: -4px;
                bottom: -5px;
                left: -4px;
                right: -5px;
                border-radius: 10px;
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                background-image: url(../img/display.png);
                background-size: cover;
            }
            .evart-logo{
                background-image: url(../img/logo.png);
                align-self: flex-end;
                z-index: 1;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 97% bottom;
                flex: 4;
            }
            .evart-now-playing{
                color: #fff;
                font-family: "Roboto-Regular";
                font-size: 24px;
                width: 100%;
                flex: 2;
                z-index: 1;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding-left: 60px;
                margin-top: 3%;
                @media only screen and (max-width: 976px) {
                    flex:1;
                }
                .evart-song{
                    background-image: url(../img/play.png);
                    background-repeat: no-repeat;
                    background-position: left;
                    padding-left: 40px;
                    width: 100%;
                    flex: 6;
                }
                .evart-time{
                    flex: 2;
                    text-align: center;
                }
            }
        }

        .evart-controls{
            width: 100%;
            flex: 4;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 976px) {
              flex: 3;
              padding-top: 3%;
            }
                
            .evart-buttons{
              position: relative;
                display: flex;
                flex-flow: row nowrap;
                width: 180px;
                height: 40px;
                justify-content: space-around;
                align-items: center;
              .evart-btn{
                flex: 0 0 90px;
                height: 38px;
                background-image: url(../img/btn-simple.png);
                background-repeat: no-repeat;
                &:hover{
                  background-position: 0 -38px;
                  span{
                    color:#0095c6;
                  }
                }
                &:active{
                  background-position: 0 -76px;
                  span{
                    color:#9ca1a5;
                  }
                }
                span {
                  padding: 13px 27px;
                  font-size: 10px;
                  color: #9ca1a5;
                  text-shadow: 0px 1px 2px rgb(255, 255, 255);
                }

              }
              .evart-pause span{
                padding-left: 47px;
              }
                .evart-stop{
                  height: 64px;
                  width: 63px;
                  background-image: url(../img/btn-power.png);
                  background-repeat: no-repeat;
                  position: absolute;
                  left: 57px;
                  top: -10px;
                  &:hover{
                    background-position: -63px 0;
                  }
                  &:active{
                    background-position: -126px 0;
                  }
                }
            }
          .evart-volume{
            width: 270px;
            height: 19px;
            display: flex;
            justify-content: space-around;
            margin-top: 25px;
            @import "volume-track";
            .evart-trackbar{
              display: flex;
              align-items: center;
            }
            .evart-ico{
              background-image: url(../img/volume-on.png);
              height: 19px;
              flex: 0 0 50px;
              background-repeat: no-repeat;
              background-position: left center;
            }
            .evart-value{
              flex: 0 0 50px;
              text-align: right;
              font-family: "Roboto-Bold";
              font-size: 15px;
              color: #3c3c3c;
            }
          }
        }

    }
    .evart-playlist{
        margin-top: 18px;
        margin-left: 1%;
        margin-right: 2%;
        flex: 3;
        width: 100%;
        height: 90%;
        position: relative;
        border: 5px solid transparent;
        display: flex;
        flex-flow: column wrap;
        color: #fff;
        @import "playlist-track";
        @media only screen and (max-width: 976px) {
          flex: 0 0 135px;
          margin-bottom: 10px;
          margin-left: 0;
          margin-right: 0;
          width: 98%;
        }
        &:before{
          content: '';
          background: linear-gradient(to top, #ffffff 5%, #494949 50%, #ffffff 52%, #d9d9d9 100%);
          position: absolute;
          top: -4px;
          bottom: -5px;
          left: -4px;
          right: -5px;
          border-radius: 10px;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 10px;
          background-image: url(../img/playlist.png);
          background-size: cover;
          @media only screen and (max-width: 976px) {
              background-position: center;
          }
        }
      ul{
        z-index: 1;
        position: absolute;
        top: 10px;
        bottom: -5px;
        left: 10px;
        right: 2px;
        @media only screen and (max-width: 976px) {
          right: 5px;
          .overview{
              width: 100%;
          }
        }
        .evart-item{
          font-family: "Roboto-Regular";
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
            .evart-ico{
              flex: 1;
              background-image: url(../img/play.png);
              background-repeat: no-repeat;
              background-position: left;
              background-size: contain;
              height: 16px;
            }
            .evart-info{
              flex: 9;
              display: flex;
              align-items: center;
              border-bottom: 1px solid white;
              padding: 5px 0;
              .evart-name{
                flex: 3;
              }
              .evart-datetime{
                padding-right: 5px;
                text-align: right;
                align-self: flex-end;
                flex: 1;
                .evart-time{
                  font-size: 14px;
                }
              }
            }
        }
      }

    }
}





