//div,section{
//    border: 1px dotted black;
//}
header{
    background: url(../img/header_back.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 535px;
    padding-top: 75px;
}
.evart-radio{
    background: url(../img/radio_back.png);
    width: 100%;
    height: 403px;
    border-radius: 10px;
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.004);
    border: 1px solid rgba(212, 212, 212, 0.65);
    display: flex;
    padding: 0 10px;

    .evart-dock{
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

    }
    .evart-panel{
       flex: 7;
        .evart-dots{
            background-image: url(../img/dots.png);
            width: 323px;
            height: 18px;
        }

        .evart-display {
            width: 100%;
            flex: 7;
            position: relative;
            border: 5px solid transparent;
            display: flex;
            flex-flow: column wrap;
            &:before{
                content: '';
                background: linear-gradient(to top, #ffffff 5%, #494949 50%, #ffffff 52%, #d9d9d9 100%);
                position: absolute;
                top: -5px;
                bottom: -5px;
                left: -5px;
                right: -5px;
                border-radius: 10px;
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                background-image: url(../img/display.png);
                background-size: cover;
            }
            .evart-logo{
                background-image: url(../img/logo.png);
                align-self: flex-end;
                z-index: 1;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 97% bottom;
                flex: 3;
            }
            .evart-now-playing{
                color: #fff;
                font-size: 20px;
                width: 100%;
                flex: 2;
                z-index: 1;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding-left: 60px;
                margin-top: 3%;
                .evart-song{
                    background-image: url(../img/play.png);
                    background-repeat: no-repeat;
                    background-position: left;
                    background-size: contain;
                    padding-left: 40px;
                    width: 100%;
                    flex: 8;
                }
                .evart-time{
                    padding-left: 20%;
                    flex: 2;
                }
            }
        }

        .evart-controls{
            width: 100%;
            flex: 4;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            .evart-buttons{
              position: relative;
                display: flex;
                flex-flow: row nowrap;
                width: 180px;
                height: 40px;
                justify-content: space-around;
                align-items: center;
                .evart-play{
                    flex: 0 0 90px;
                    height: 40px;
                    background-image: url(../img/btn-play.png);
                    background-repeat: no-repeat;
                    background-position: center;
                  &:hover{
                    background-image: url(../img/btn-play_hover.png);
                  }
                  &:active{
                    background-image: url(../img/btn-play_active.png);
                  }
                }
                .evart-pause{
                    flex: 0 0 90px;
                    height: 40px;
                    background-image: url(../img/btn-pause.png);
                    background-repeat: no-repeat;
                    background-position: center;

                }
                .evart-stop{
                  height: 63px;
                  width: 63px;
                  background-image: url(../img/btn-off.png);
                  background-repeat: no-repeat;
                  background-position: center;
                  position: absolute;
                  left: 57px;
                  top: -10px;
                  &:hover{
                    background-image: url(../img/btn-off_hover.png);
                  }
                }
            }
          .evart-volume{
            width: 270px;
            height: 19px;
            display: flex;
            justify-content: space-around;
            margin-top: 25px;
            @import "rangeslider";
            .evart-trackbar{
              display: flex;
              align-items: center;
            }
            .evart-ico{
              background-image: url(../img/volume-on.png);
              height: 19px;
              flex: 0 0 50px;
              background-repeat: no-repeat;
              background-position: left center;
            }
            .evart-value{
              flex: 0 0 50px;
              text-align: right;
            }
          }
        }
    }
    .evart-playlist{
        flex: 3;
    }
}





