@import "controller/fontface";
@import "views/index/header";
@import "views/index/main";
@import "views/index/footer";

html {
  font-family: "Glyphicons Halflings";
  background: #52aff7;
  body {
    background: #52aff7;
    overflow-x: hidden;
    @import "controller/nav";
  }
}