@media only screen and (max-width: 1024px) {
    .container-fluid{
        padding-left: 40px !important;
    }
    .evart-dots{
        width: 100% !important;
    }
    .evart-slider .carousel-control {
        width: 20% !important;
    }
        nav{
            position: fixed;
            z-index: 5000;
            left: -195px;
            top: 0;
            bottom: 0;
            width: 225px;
            height: auto;
            .navigation{
                justify-content: flex-start;
                ul.nav{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 30px;
                    bottom: 0;
                    li{
                        float:none;
                        &:last-child{
                            display:none;
                        }
                        
                    }
                }
                .evart-minimenu{
                    display: block;
                    width: 30px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background: url(../img/slider/arrow.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: rotate(180deg);
                    cursor: pointer;
                }
                
            }
            .evart-chat{
                    right: auto;
                    left: 0;
            }
            
            
        }
    }
    
@media only screen and (max-width: 700px) {
    .evart-submenu, .evart-chat{
        width: 98vw !important;
        .evart-body{
            max-width: 98vw !important;
        }
    }
    .evart-radio{
        .evart-now-playing{
            padding-left: 10px !important;
            font-size: 20px !important;
            margin-top: 0 !important;
        }
        .evart-logo{
            background-size: contain !important;
            background-position: center !important;
            margin-top: 3% !important;
        }
    }
    
}

@media only screen and (max-width: 560px) {
    .evart-time{
        display: none !important;
    }
}