.scrollable .vertical{
  width: 4px;
  z-index: 2;
  background: #bebebe;
  border-radius: 20px;
  right: -25px;
  .thumb{
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f0f0f0 45%, #e6e6e6 55%);
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.7);
    width: 18px;
    height: 14px;
    position: relative;
    left: -7px;
    cursor: pointer;
  }
}